<h1>User#Name placeholder</h1>
<p>Here is the details of a user given its id</p>
<%= render 'shared/user' %>

<div class="user-bio">
  <h2>Bio </h2>
  <p>Bio placeholder</p>
</div>

<ul class="posts">
  <li class="post">
    <div class="post-container">
      <div class="post-title">Title placeholder</div>
      <div class="post-text">Text placeholder</div>
      <div class="post-comments-counter">Number of Comments: comments_counter placeholder</div>
      <div class="post-likes-counter">Number of Likes: likes_counter placeholder</div>
    </div>
  </li>
</ul>

<button type="button">See all posts</button>