
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGV-z4WJHz0Ci9sdY8m4DAbUmgRB0VskykuGOXmpPKBg&s" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">User Name</h5>
      <p class="card-text"><small class="text-muted">Numbers of posts</small></p>
      </div>
    </div>
  </div>
</div>