<div class="row">
<h1 class="col-10">Posts list</h1>
<div class="col-1 ml-3">
<%= link_to "Back", users_path, class: "btn btn-primary " %>
</div>
</div>
<% if @posts.any? %>
<%=  render  'shared/user_card',  user: @user%>

<% @posts.each do |p| %>
   <div class ="border">
   <%= render 'shared/post_card', post: p %>
  
   <%= render 'shared/post_comment', comments: p.recent_five_comments if p.recent_five_comments.any? %>
 </div>
   <% end %>

 


<% else %>
  <p> This user doesn't have any post yet! </p>
<% end %>




<button type="button">Pagination</button>